/* CSS declarations go here */

body {
  margin: 0px;
  padding: 20px;
}

.hidden {
  display: none;
}

.container {
  width: 100%;
  text-align: left;
}

.mainMenu {
  margin-top: 10px;
  margin-bottom: 5px;
}

.mainMenu ul {
  list-style-type:none;
  margin:0;
  padding:0;
}

.mainMenu ul li {
  display: inline;
  margin-right: 5px;
  padding: 2px;
  border: 1px solid black;
  background: #EEE;
}

.activeTab {
  font-weight: bold;
}

.footer {
  
}
